body {
  font-family:'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #031926; 
  position: relative;
  color: #f4e9cd;
}
canvas{
  display: block;
  position: fixed;
  z-index: 1;

}

#titulo{
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: auto;
 height: auto;
 padding: 20px;
 border-radius: 50px;
 text-align: center;
 background-color: rgba(70, 129, 137, 0.8);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 z-index: 2;
}
.hello{
  font-size: 50px;
  text-align: center;
}
#boton{
  width: 70px;
  height: 25px;
  background-color: #96c9e7;
  border-radius: 10px;
  font-size: 15px;
}
#To {
  margin-bottom: 15px;
}
input{
  border-radius: 20px;
  background-color: #ffffffe7;
  box-shadow: 0 2px 5px 0 #031926;
  font-size: 20px;
  transition: all 0.3s ease;
}
input:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 3px 0 3px rgba(74, 144, 226, 0.2);
}

#salud{
  align-items: center;
  font-size: 20px;
}
h1{
  text-align: center;
}
p{
  text-align: center;
}

/*figura del cuerpo*/

#human{
  position: relative;
  width: 1000px;
  height: 500px;
  margin: 50px auto;
}

#head{
  width: 200px;
  height: 112px;
  border-radius: 600px 600px 103px 43px;
  top: 20px;
  left: 350px;
  transform: rotate(-50deg);
}

#neck{
  width: 60px;
  height: 50px;
  left: 470px;
  top: 200px;
}

#craneo{
  width: 70px;
  height: 70px;
  left: 131;
  top: 65px;
  border-radius: 50px;
}
#nose{
  width: 85px;
  height: 75px;
  left: 90px;
  top: 140px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100% );
}

.posicion{
  position: absolute;
  background: #5079b1;
  z-index: 2;
}