body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #676f9d; 
  color: #333; 
}

header {
  background-color: #00bcd4;
  padding: 10px;
  width: auto;
  text-align: center;
  color: #fff; 
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

a {
  color: #00bcd4;
  text-decoration: none;
  margin-right: 20px;
}
.certi{
  font-size: 18px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #f0f0f0;
}
.habi {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.habi img {
  width: 100px; 
  height: auto;
  margin: 10px;
}
nav {
  background-color: #00bbd4e1;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto; 
  padding: 10px;
  box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex; 
}

nav li {
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  display: inline-block;
}

nav a:hover{
  background-color: #f0f0f0; /*otro color es #f5f5dc*/
  border-radius: 10px;
  color: #333;
}

section {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work, .Analista, .Front {
  background-color: #fff; 
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 15px rgba(173, 216, 230, 0.897); 
  text-align: center;
  width: 300px;
}
.work{
  background:url(img/androide.png) left/cover no-repeat, 
  url(img/icons8-java-400.png) right/cover no-repeat;
  background-size: 80px, 100px;
}
.resu{
  background-color: #fff; 
  border-radius: 10px;
  padding: 20px;
  margin: 50px 50px;
  box-shadow: 0px 0px 15px rgba(173, 216, 230, 0.897); 
  text-align: center;
  width: 700px;
}
#fond{
  background:url(img/androide.png) left/cover no-repeat, 
  url(img/icons8-kotlin-240.png) right/cover no-repeat;
  background-size: 80px, 100px;
}

.work h3, .Analista h3, .Front h3 {
  color: #00bfff; 
  font-size: 24px;
}

.work ul, .Analista ul, .Front ul {
  list-style-type: none;
  padding: 0;
}

.work li, .Analista li, .Front li {
  margin-bottom: 10px;
}

.work a, .Analista a, .Front a {
  display: block;
  margin-top: 10px;
}

.work img, .Analista img, .Front img {
  max-width: 100px;
  height: auto;
  margin: 0 auto;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 16px;
  line-height: 1.5;
}

footer div {
  margin-top: 20px;
}

footer h3 {
  color: #00bcd4;
}

footer p {
  font-size: 14px;
}