/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
    color: #333;
  }
  
  header {
    background-color: #00bcd4;
    padding: 10px;
    width: auto;
    text-align: center;
    color: #fff; 
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  a {
    color: #00bcd4;
    text-decoration: none;
    margin-right: 20px;
  }
  nav {
    background-color: #00bbd4e1;
    top: 0;
    right: 0;
    bottom: 0;
    width: auto; 
    padding: 10px;
    box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; 
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    display: inline-block;
  }
  
  nav a:hover{
    background-color: #f0f0f0; /*otro color es #f5f5dc*/
    border-radius: 10px;
    color: #333;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 8px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  footer p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  footer div {
    margin-top: 20px;
  }
  
  footer h3 {
    color: #00bcd4;
  }
  
  footer p {
    font-size: 14px;
  }